mixin form-radio(idAndName, radioItems)
  .form-radio(id=idAndName)
    each item in radioItems
      input(type='radio', id=item.id, name=idAndName, checked=item.checked, value=item.id)
      label(for=item.id) #{item.text}
