mixin form-file-upload(idAndName, fileExtensions, fileSize, emptyText, isMultiple=false)
  label.form-file-upload(for=idAndName)(id='drop-zone')
    input.visually-hidden(id=idAndName, name=idAndName, type='file', multiple=isMultiple, accept=fileExtensions.map(item => `.${item}`).join(', '), size=fileSize * 1024 * 1024, aria-describedby="hint")
    .form-file-upload__icon
      include Components/svg-icon/svg-icon.pug
      +svgIcon('empty-file-control')
    .form-file-upload__text.form-file-upload__text_empty(id='empty')
      p(id='hint')
        span #{emptyText}
        each extension, index in fileExtensions
          if index + 1 === fileExtensions.length
            span #{extension})
          else
            span #{extension},&nbsp;
      if fileSize
        p
          span Максимальный размер #{isMultiple ? 'файлов' : 'файла'} – #{fileSize}МБ
    .form-file-upload__text.form-file-upload__text_loaded.form-file-upload__text_hidden(id='loaded')
    template(id='loaded-file-template')
      .form-file-upload__loaded-file
        p
        .form-file-upload__delete
          include Components/svg-icon/svg-icon.pug
          +svgIcon('delete')
    include UIKit/form-control-error/form-control-error.pug
    +form-control-error()(class='form-file-upload__error')
